{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Path Traversal Demo</h1>

    <p>
        <p>
            This page demonstrates a Path Traversal vulnerability.
            Users should only be able to access files from the demo_files folder,
            but by using relative paths they can access files elsewhere on the server.
        </p>
    </p>

    <form method="POST">

        <input
            type="text"
            name="filename"
            placeholder="public.txt">

        <button type="submit">
            Read File
        </button>

    </form>

    {% if content %}

        <h3>File Content</h3>

        <pre>{{ content }}</pre>

    {% endif %}

</div>

{% endblock %}